.nav_animal {
  color: #72AB00 !important;
  border-top: 4px solid #72AB00 !important;
}
.action_main_section {
  margin-top: 10px;
  margin-left: 12%;
  margin-right: 12%;
  background: #eaeaea;
  border-radius: 8px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 7px 3px 2px #888888;
}
.action_main_section .main_article {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 5px;
}
.action_main_section .main_article .main_article_h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Helvetica';
  font-size: 20px;
  font-weight: normal;
  color: #72AB00;
}
.action_section {
  margin-top: 10px;
  margin-left: 12%;
  margin-right: 12%;
}
.action_section .action_h3 {
  font-family: 'Helvetica Light';
  font-size: 35px;
  font-weight: normal;
  color: #72AB00;
  margin-bottom: 0px;
}
.action_section .action_btn {
  background: linear-gradient(to top, #5a5a5a 0%, #a7a7a7 100%);
  font-size: 18px;
  /* Размер шрифта */
  padding: 10px 20px;
  /* Поля вокруг текста */
  color: #fff;
  /* Цвет текста */
  border-radius: 8px;
  /* Радиус скругления */
  min-width: 325px;
  width: 90%;
}
.action_section .action_btn:hover {
  background: linear-gradient(to top, #a7a7a7 0%, #eaeaea 100%);
}
.action_section .action_element {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 2px solid #eaeaea;
  padding-bottom: 10px;
}
.action_section .action_element .action_article {
  margin-left: 20px;
  width: 50%;
  min-width: 200px;
  flex-grow: 1;
}
.action_section .action_element .action_article .action_article_h4 {
  font-family: 'Helvetica Light';
  font-size: 24px;
  font-weight: normal;
  color: #5a5a5a;
  margin-top: 10px;
  margin-bottom: 0px;
}
@keyframes my_rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(7deg);
  }
  75% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.action_section .action_element .action_href {
  height: 30%;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.action_section .action_element .action_href:hover {
  animation-name: my_rotation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.action_section .action_element .action_img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 7px 3px 2px #888888;
}
.action_section .action_element .action_static_img {
  height: 30%;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 7px 3px 2px #888888;
}
